In [0]:
/* use catalog */
USE CATALOG demo_workspace;

In [0]:
/* create table */
CREATE TABLE employees (id INT, name STRING, salary DOUBLE);

In [0]:
/* insert records */
INSERT INTO employees (id, name, salary)
VALUES (1, "Adam", 3500.0),
       (2, "Sarah", 4020.5);

INSERT INTO employees (id, name, salary)
VALUES (3, "John", 2999.3),
       (4, "Thomas", 4000.3);

INSERT INTO employees (id, name, salary)
VALUES (5, "Anna", 2500.0);

INSERT INTO employees (id, name, salary)
VALUES (6, "Kim", 6200.3);

In [0]:
/* select records */
SELECT * FROM employees;

In [0]:
/* explore table metadata */
DESCRIBE DETAIL EMPLOYEES;

In [0]:
/* update records */
UPDATE employees
SET salary = salary + 100
WHERE name LIKE 'A%';

In [0]:
/* select records */
SELECT * FROM employees;

In [0]:
/* explore table metadata */
DESCRIBE DETAIL employees;

In [0]:
/* table history */
DESCRIBE HISTORY employees;